body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
  height: 2px;
}

/* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
::-webkit-scrollbar-track {
  background: #333;
}

/* aqui é a alça da barra, que demonstra a altura que você está na página
  estou colocando uma cor azul clara nela*/
::-webkit-scrollbar-thumb {
  background: white;
}

.App {
  height: 200vh;
}
.Game {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  align-items: center;
  height: 130vh;
  width: 100vw;
  background-color: rgba(82, 182, 196, 1);
  font-family: 'Poiret One', cursive;
}

* {
  padding: 0px;
  font-family: 'Poiret One', cursive;
}

.dead {
  background: linear-gradient(315deg, rgba(255, 92, 92, 1) 7%, rgba(196, 82, 134, 1) 87%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
